readConfigRegister.json
[{"id":"4ece92ec.b1316c","type":"subflow","name":"Read Config Register from HMC5883L","info":"","category":"","in":[{"x":0,"y":80,"wires":[{"id":"90e06e97.6f1f9"}]}],"out":[{"x":1060,"y":80,"wires":[{"id":"c03fe9ab.3fc018","port":0}]}],"env":[],"color":"#E9967A","inputLabels":["msg trigger"],"outputLabels":["config info msg"],"icon":"font-awesome/fa-braille"},{"id":"90e06e97.6f1f9","type":"function","z":"4ece92ec.b1316c","name":"read config command","func":"return [{command:\"00\"},{command:\"01\"}];","outputs":2,"noerr":0,"x":190,"y":80,"wires":[["a71bbdca.58e44"],["a71bbdca.58e44"]],"outputLabels":["get ID1","get ID2"]},{"id":"a71bbdca.58e44","type":"i2c in","z":"4ece92ec.b1316c","name":"HMC5883L command","address":"30","command":"","count":"1","x":470,"y":80,"wires":[["5775b63c.a88a48"]]},{"id":"5775b63c.a88a48","type":"join","z":"4ece92ec.b1316c","name":"join msgs","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":690,"y":80,"wires":[["c03fe9ab.3fc018"]]},{"id":"c03fe9ab.3fc018","type":"function","z":"4ece92ec.b1316c","name":"Interpret Config","func":"var X = (msg.payload[0]<<8)+(msg.payload[1]);\n\nmsg.configreg = X;\n\nmsg.MA = (msg.payload[0] & 0x60)>>5;\nmsg.DO = (msg.payload[0] & 0x1C)>>2;\nmsg.MS = (msg.payload[0] & 0x03);\n\nmsg.GAIN = (msg.payload[1] & 0xE0)>>5;\n\nmsg.topic = \"Configuration register AB\";\n\nnode.status({text:\"Config Reg AB: 0x\"+parseInt(X).toString(16)});\nreturn msg;","outputs":1,"noerr":2,"x":890,"y":80,"wires":[[]]}]
