readStatusRegister.json
[{"id":"a0533138.5facd","type":"subflow","name":"Read Status Register HMC5883L","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"acdfa42.f532058"}]}],"out":[{"x":820,"y":80,"wires":[{"id":"dc0ee6e6.23f118","port":0}]}],"env":[],"color":"#E9967A","inputLabels":["msg trigger"],"outputLabels":["Rich msg packet"],"icon":"node-red/comment.svg"},{"id":"acdfa42.f532058","type":"function","z":"a0533138.5facd","name":"read status","func":"return {command:\"09\"};","outputs":1,"noerr":0,"x":190,"y":80,"wires":[["c576ce39.3a893"]],"outputLabels":["get ID1"]},{"id":"c576ce39.3a893","type":"i2c in","z":"a0533138.5facd","name":"HMC5883L command","address":"30","command":"","count":"1","x":410,"y":80,"wires":[["dc0ee6e6.23f118"]]},{"id":"dc0ee6e6.23f118","type":"function","z":"a0533138.5facd","name":"interpret status","func":"msg.rdy = (0x1 & msg.payload);\nmsg.lock = ((0x10 & msg.payload)>>1);\n\nmsg.topic = \"Status register\";\nnode.status({text:\"Status: RDY:\"+msg.rdy+\" LCK:\"+msg.lock});\nreturn msg;","outputs":1,"noerr":2,"x":650,"y":80,"wires":[[]]}]
